body{
  padding: 0;
  margin: 0;
  border: 0;
}
.h1Title {
    font-family: 'Playball', cursive;
    padding-bottom:5px;
    padding-left: 5px;
    margin: 0;
    font-size: 48px;
}

.nav{
  background-color: grey;
  padding:0;
  margin:0;
}
.nav ul{
  padding-left: 5px;
  margin: 0;
}
.nav ul li{
  list-style: none;
  display: inline-block;
  margin: 5px;
  font-size: 18px
}
.nav ul li a{
  text-decoration: none;
  color: black;
}

body{
  font-size: 18px;
  background: rgb(149, 194, 215);
}
a{
  text-decoration: none;
}
.thumbnail-item{
  border: 1px solid rgba(100%, 100%, 100%, 0.8);
  border-color: grey
}
.thumbnail-title{
}
